@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face */
@font-face {
  font-family: 'Nue';
  src: url('/fonts/neu.otf') format('opentype');
}

@font-face {
  font-family: 'NueOut';
  src: url('/fonts/nueout.otf') format('opentype');
}

@font-face {
  font-family: 'Nokia';
  src: url('/fonts/nokia.otf') format('opentype');
}


::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: var(--muted); 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb {
  background: var(--muted-foreground); 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--foreground);
}


* {
  scrollbar-width: thin; 
  scrollbar-color: var(--muted-foreground) var(--muted); 
}
/* Light Mode */
:root {
  --background: white;
  --foreground: black;
  --card: white;
  --card-foreground: black;
  --popover: white;
  --popover-foreground: black;
  --primary: black;
  --primary-foreground: white;
  --secondary: white;
  --secondary-foreground: black;
  --muted: #f5f5f5;
  --muted-foreground: #666;
  --accent: #e5e5e5;
  --accent-foreground: black;
  --destructive: #ff4d4d;
  --destructive-foreground: white;
  --border: #ddd;
  --input: #ccc;
  --ring: black;
  --radius: 0.625rem;
  --sidebar: white;
  --sidebar-foreground: black;
  --sidebar-primary: black;
  --sidebar-primary-foreground: white;
  --sidebar-accent: white;
  --sidebar-accent-foreground: black;
  --sidebar-border: black;
  --sidebar-ring: black;
  --button-bg: black; /* Button background in light mode */
  --button-text: white
}

/* Dark Mode */
.dark {
  --button-bg: white; /* Button background in dark mode */
  --button-text: black;
  --background: black;
  --foreground: white;
  --card: black;
  --card-foreground: white;
  --popover: black;
  --popover-foreground: white;
  --primary: white;
  --primary-foreground: black;
  --secondary: black;
  --secondary-foreground: white;
  --muted: #333;
  --muted-foreground: #bbb;
  --accent: #444;
  --accent-foreground: white;
  --destructive: red;
  --destructive-foreground: white;
  --border: #555;
  --input: #666;
  --ring: white;
  --sidebar: black;
  --sidebar-foreground: white;
  --sidebar-primary: white;
  --sidebar-primary-foreground: black;
  --sidebar-accent: black;
  --sidebar-accent-foreground: white;
  --sidebar-border: white;
  --sidebar-ring: white;
}

/* Base Layer */
@layer base {
  button {
    @apply bg-[var(--button-bg)] text-[var(--button-text)] px-4 py-2 rounded;
  }
  * {
    @apply outline-[var(--ring)];
  }
  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
    font-family: "Nue", sans-serif;
  }
}